button {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.picture {
    height: 300px;
}

.card {
    width: 18rem;
    margin: 10px 20px 30px 70px;
    font-size: .8em;
}

button {
    padding: .5em;
    outline: none;
    background: transparent;
    border: 1px solid #0f0f0f6b;
    border-radius: .4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all .3s;
    font-size: .7em;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fef8f8;
    margin-right: 10rem;
    margin: 25px 50px 75px 100px;

}

.allCart {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}